# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [25]:
import os 
if ('Data' not in list(os.walk(os.getcwd()))[0][1]):
    !wget "https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip" 
    !unzip "Data.zip"

In [26]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [27]:
info = pd.read_csv("Data/Students_info_0.csv")
marks = pd.read_csv("Data/Students_marks_0.csv")
for i in range(1,10):
  info = pd.concat([info, pd.read_csv(f"Data/Students_info_{i}.csv")])
  marks = pd.concat([marks, pd.read_csv(f"Data/Students_marks_{i}.csv")])
df = pd.merge(info, marks, on=["index"])
print(df.iloc[:10,:]) # First 10 rows.

   index  gender race/ethnicity parental level of education         lunch  \
0      0  female        group B           bachelor's degree      standard
1      1  female        group C                some college      standard
2      2  female        group B             master's degree      standard
3      3    male        group A          associate's degree  free/reduced
4      4    male        group C                some college      standard
5      5  female        group B          associate's degree      standard
6      6  female        group B                some college      standard
7      7    male        group B                some college  free/reduced
8      8    male        group D                 high school  free/reduced
9      9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [28]:
df = df.drop(columns='index') 
print(df.iloc[:10,:]) # First 10 rows.

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [29]:
print(f"Number of rows: {df.shape[0]}.\nNumber of columns: {df.shape[1]}.")

Number of rows: 1000.
Number of columns: 9.

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [30]:
print(f"Max:\n{df.select_dtypes(include='number').max()}")
print(f"\nMin:\n{df.select_dtypes(include='number').min()}")
print(f"\nAverage:\n{df.select_dtypes(include='number').mean()}")
print(f"\nDeviation:\n{df.select_dtypes(include='number').std()}")

Max:
math score       100
reading score    100
writing score    100
dtype: int64

Min:
math score        0
reading score    17
writing score    10
dtype: int64

Average:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

Deviation:
math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [31]:
print(df.isnull().sum()) # There are no missing values.

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [32]:
print(df[['math score', 'reading score', 'writing score']].mean(axis=1))

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Length: 1000, dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [33]:
completed = df.loc[df['test preparation course'] == "completed"]
not_completed = df.loc[df['test preparation course'] == "none"]
print(f"Completed the course:\n{completed.mean()}")
print(f"\nNot completed the course:\n{not_completed.mean()}")
# Those who attended the courses have better grades

Completed the course:
math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

Not completed the course:
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

<ipython-input-33-49a7d67d5510>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(f"Completed the course:\n{completed.mean()}")
<ipython-input-33-49a7d67d5510>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(f"\nNot completed the course:\n{not_completed.mean()}")

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [34]:
print(df["lunch"].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [35]:
df = df.rename(columns={ "parental level of education":"education", "test preparation course":"test preparation" })
print(df.iloc[:10,:]) # First 10 rows.

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none
5  female        group B  associate's degree      standard             none
6  female        group B        some college      standard        completed
7    male        group B        some college  free/reduced             none
8    male        group D         high school  free/reduced        completed
9  female        group B         high school  free/reduced             none

    group  math score  reading score  writing score
0  group1          72             72             74
1  group1          69             90             88
2  group1          90             95             93
3  group1          47             57             44
4  group1          76             78             75
5  group1          71             83             78
6  group1          88             95             92
7  group1          40             43             39
8  group1          64             64             67
9  group1          38             60             50

**Зафиксируем минимальный балл для сдачи экзамена**

In [36]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [37]:
print(f"Students with math score >= passmark (from all students):{df[df['math score'] >= passmark].shape[0]/df.shape[0]}")
print(f"Students with math score >= passmark and with completed course (from students with completed course):{df[(df['math score'] >= passmark) & (df['test preparation']=='completed')].shape[0]/df[(df['test preparation']=='completed')].shape[0]}")
print(f"Female with math score < passmark and without completed course (from female without completed course):{df[(df['math score'] < passmark) & (df['test preparation']=='none') & (df['gender']=='female')].shape[0]/df[(df['test preparation']=='none') & (df['gender']=='female')].shape[0]}")

Students with math score >= passmark (from all students):0.865
Students with math score >= passmark and with completed course (from students with completed course):0.9217877094972067
Female with math score < passmark and without completed course (from female without completed course):0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [38]:
%%time
print(df[['race/ethnicity', 'reading score']].groupby(['race/ethnicity']).mean().rename(columns={ "reading score":"mean reading score"}))
print('\n')
print(df[['education', 'writing score']].groupby(['education']).min().rename(columns={ "writing score":"min writing score"}))

                mean reading score
race/ethnicity
group A                  64.674157
group B                  67.352632
group C                  69.103448
group D                  70.030534
group E                  73.028571


                    min writing score
education
associate's degree                 35
bachelor's degree                  38
high school                        15
master's degree                    46
some college                       19
some high school                   10
CPU times: user 16 ms, sys: 0 ns, total: 16 ms
Wall time: 18.1 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [39]:
%%time
race_mean= dict.fromkeys(sorted(df['race/ethnicity'].unique()), 0)
for index, row in df.iterrows():
  race_mean[row['race/ethnicity']] += row['reading score']
for key in race_mean:
  race_mean[key] /= df[df['race/ethnicity']==key].shape[0]
race_table=pd.DataFrame(race_mean.items(), columns=['race/ethnicity','mean reading score'])
print(race_table)

print()
education_min = dict.fromkeys(sorted(df['education'].unique()), 10000000)
for index, row in df.iterrows():
  education_min[row['education']] = min(row['writing score'] ,education_min[row['education']])
education_table = pd.DataFrame(education_min.items(), columns=['education ','min writing score'])
print(education_table)
# It takes 8 times longer.

  race/ethnicity  mean reading score
0        group A           64.674157
1        group B           67.352632
2        group C           69.103448
3        group D           70.030534
4        group E           73.028571

           education   min writing score
0  associate's degree                 35
1   bachelor's degree                 38
2         high school                 15
3     master's degree                 46
4        some college                 19
5    some high school                 10
CPU times: user 187 ms, sys: 9 µs, total: 187 ms
Wall time: 245 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [47]:
%%time
print(df[['gender','education','math score','reading score','writing score']].groupby(['gender','education']).mean().rename(columns={ "math score":"mean math score","reading score":"mean reading score","writing score":"mean writing score"}))

                           mean math score  mean reading score  \
gender education
female associate's degree        65.250000           74.120690
       bachelor's degree         68.349206           77.285714
       high school               59.351064           68.202128
       master's degree           66.500000           76.805556
       some college              65.406780           73.550847
       some high school          59.296703           69.109890
male   associate's degree        70.764151           67.433962
       bachelor's degree         70.581818           68.090909
       high school               64.705882           61.480392
       master's degree           74.826087           73.130435
       some college              69.009259           64.990741
       some high school          67.840909           64.693182

                           mean writing score
gender education
female associate's degree           74.000000
       bachelor's degree            78.380952
       high school                  66.691489
       master's degree              77.638889
       some college                 74.050847
       some high school             68.285714
male   associate's degree           65.405660
       bachelor's degree            67.654545
       high school                  58.539216
       master's degree              72.608696
       some college                 63.148148
       some high school             61.375000
CPU times: user 12.6 ms, sys: 0 ns, total: 12.6 ms
Wall time: 14.3 ms

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [41]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')
print(f"Math -> P: {df[df['Math_PassStatus']=='P'].shape[0]}, F: {df[df['Math_PassStatus']=='F'].shape[0]}")
print(f"Reading -> P: {df[df['Reading_PassStatus']=='P'].shape[0]}, F: {df[df['Reading_PassStatus']=='F'].shape[0]}")
print(f"Writing -> P: {df[df['Writing_PassStatus']=='P'].shape[0]}, F: {df[df['Writing_PassStatus']=='F'].shape[0]}\n")
print(df.iloc[:10,:]) # First 10 rows.

Math -> P: 865, F: 135
Reading -> P: 910, F: 90
Writing -> P: 886, F: 114

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none
5  female        group B  associate's degree      standard             none
6  female        group B        some college      standard        completed
7    male        group B        some college  free/reduced             none
8    male        group D         high school  free/reduced        completed
9  female        group B         high school  free/reduced             none

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P
2  group1          90             95             93               P
3  group1          47             57             44               F
4  group1          76             78             75               P
5  group1          71             83             78               P
6  group1          88             95             92               P
7  group1          40             43             39               F
8  group1          64             64             67               P
9  group1          38             60             50               F

  Reading_PassStatus Writing_PassStatus
0                  P                  P
1                  P                  P
2                  P                  P
3                  P                  F
4                  P                  P
5                  P                  P
6                  P                  P
7                  F                  F
8                  P                  P
9                  P                  P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [42]:
df['OverAll_PassStatus'] = ((df['Math_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P') & (df['Writing_PassStatus'] == 'P')).apply(lambda x: 'P' if x else 'F')
print(f"Over all -> P: {df[df['OverAll_PassStatus']=='P'].shape[0]}\n")
print(df.iloc[:10,:]) # First 10 rows.

Over all -> P: 812

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none
5  female        group B  associate's degree      standard             none
6  female        group B        some college      standard        completed
7    male        group B        some college  free/reduced             none
8    male        group D         high school  free/reduced        completed
9  female        group B         high school  free/reduced             none

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P
2  group1          90             95             93               P
3  group1          47             57             44               F
4  group1          76             78             75               P
5  group1          71             83             78               P
6  group1          88             95             92               P
7  group1          40             43             39               F
8  group1          64             64             67               P
9  group1          38             60             50               F

  Reading_PassStatus Writing_PassStatus OverAll_PassStatus
0                  P                  P                  P
1                  P                  P                  P
2                  P                  P                  P
3                  P                  F                  F
4                  P                  P                  P
5                  P                  P                  P
6                  P                  P                  P
7                  F                  F                  F
8                  P                  P                  P
9                  P                  P                  F

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [53]:
def GetGrade(average_mark):
    if(average_mark > 90):
      return 'A';
    elif(average_mark > 80):
      return 'B';  
    elif(average_mark > 70):
      return 'C';  
    elif(average_mark > 60):
      return 'D';  
    elif(average_mark > 50):
      return 'E';  
    else:
      return 'F';  

df['Grade']=df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)
print(f"A: {(df['Grade'] == 'A').sum()}")
print(f"B: {(df['Grade'] == 'B').sum()}")
print(f"C: {(df['Grade'] == 'C').sum()}")
print(f"D: {(df['Grade'] == 'D').sum()}")
print(f"E: {(df['Grade'] == 'E').sum()}")
print(f"F: {(df['Grade'] == 'F').sum()}\n")
print(df.iloc[:10,:]) # First 10 rows.

A: 50
B: 144
C: 253
D: 260
E: 184
F: 109

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none
5  female        group B  associate's degree      standard             none
6  female        group B        some college      standard        completed
7    male        group B        some college  free/reduced             none
8    male        group D         high school  free/reduced        completed
9  female        group B         high school  free/reduced             none

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P
2  group1          90             95             93               P
3  group1          47             57             44               F
4  group1          76             78             75               P
5  group1          71             83             78               P
6  group1          88             95             92               P
7  group1          40             43             39               F
8  group1          64             64             67               P
9  group1          38             60             50               F

  Reading_PassStatus Writing_PassStatus OverAll_PassStatus Grade
0                  P                  P                  P     C
1                  P                  P                  P     B
2                  P                  P                  P     A
3                  P                  F                  F     F
4                  P                  P                  P     C
5                  P                  P                  P     C
6                  P                  P                  P     A
7                  F                  F                  F     F
8                  P                  P                  P     D
9                  P                  P                  F     F